      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        padding: 30px;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: whitesmoke;
        background-image: linear-gradient(
          to bottom,
          rgb(86, 161, 223),
          rgb(17, 87, 163)
        );
        align-items: center;
      }
      h1 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 3rem;
        color: #dfe6e9;
      }
      h2 {
        font-weight: 800;
        font-size: 2rem;
      }
      main {
        padding: 20px;
      }
      #calculator {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        background: white;
        width: 400px;
        /* min-height: 600px; */
        box-shadow: 0 0 1px 0 rgba(10, 10, 10, 0.8);
      }
      #display {
        text-align: right;
        min-height: 120px;
        border-bottom: 0.16px solid rgba(10, 10, 10, 0.8);
        padding: 20px 20px;
        font-weight: 1.3rem;
        font-weight: 600;
        color: rgba(10, 10, 10, 0.7);
      }
      #buttons {
        padding: 15px 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      #error-message {
        color: whitesmoke;
        background: #e17055;
        width: 400px;
        padding: 5px 8px;
        margin-bottom: 3px;
        display: none;
        border: none;
        border-radius: 3px;
      }
      #buttons button {
        border: none;
        background: transparent;
        width: 25%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: 600;
        color: rgba(10, 10, 10, 0.7);
        height: calc((400px - 16px) / 4);
        transition: 0.4s;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
      }
      #buttons button:hover {
        background-image: linear-gradient(
          to left,
          rgb(86, 161, 223),
          rgb(17, 87, 163)
        );
        color: whitesmoke;
      }
      /* #buttons button:hover {
        background-image: linear-gradient(
          to right,
          rgb(86, 161, 223),
          rgb(17, 87, 163)
        );
        color: whitesmoke;
      } */
      button#equal {
        border-radius: 4px;
        flex-grow: 1;
        height: calc((350px - 24px) / 4);
        color: whitesmoke;
        background-image: linear-gradient(
          to right,
          rgb(86, 161, 223),
          rgb(17, 87, 163)
        );
      }
      #display #result {
        margin-top: 10px;
      }
      .text-center {
        text-align: center;
      }
      .text-gray-light {
        color: #2d3436;
      }
      .font-semibold {
        font-weight: 600;
      }
      #inputs {
        padding: 8px 5px;
        text-align: right;
        outline: none;
      }
